:root{
    --Terra-Cotta:#ED6A5A;
    --Pale-Spring-Bud:#F4F1BB;
    --Opal:#9BC1BC;
    --Cadet-Blue:#5CA4A9;
    --Alabaster:#E6EBE0;
    --Cyclamen:#E86A92;
    --Smokey-Black:#0F0F0F;
    --Jet:#2D2E2E;
    --Dim-Gray:#716969;
    --Ghost-White:#ECEBF3;

}

body{
    color: var(--Ghost-White);
}
.grid-container{
    display: grid;
    background-color: var(--Ghost-White);
    color: var(--Smokey-Black);
    grid-template-columns: minmax(240px, 20%) 80%;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu{
    background-color: var(--Cadet-Blue);
    display: grid;
    grid-template-rows: 1fr 2fr 4fr 40px;
    padding: 30px;
    color: white;
}

.menu1,.menu2{
    padding-left: 20%;
}

.menu1 a, .menu2 a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: var(--Jet);
    display: block;
    transition: 0.3s;
    width: 100%;
    border-radius: 5px;
    font-weight: 550;
  }
  
  .menu1 a:hover, .menu2 a:hover {
    background-color: var(--Pale-Spring-Bud);
    box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.13);
    
  }

  .menu1 > a > i,.menu2 > a > i{
      padding-right: 10px;
      color: var(--Alabaster);
  }

  .selected{
      background-color: var(--Opal);
      border-radius: 5px;
      width: 100%;
      
  }

.logo{
    font-size: 25px;
    color: var(--Opal);
    text-align: center;
    
}

.logo>h2:hover{
    text-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.13);
    color: var(--Pale-Spring-Bud);
}


.logo > h2 > i{
    font-size: 60px;
    padding-right: 10px;
    color: white;
}

.menu2{
    display: flex;
    flex-direction: column;
    
    min-height: 100%;
}

.menuFooter>p{
    text-align: center;
    color: var(--Pale-Spring-Bud);
    
}

.main{
    display: grid;
    grid-template-rows: 150px 1fr;
}

.header{
    background-color: white;
    display: grid;
    grid-template: 50px 1fr/ 1fr 150px 150px 150px;
    padding: 15px;
    padding-top: 30px;
    align-items: center;
    justify-content: center;
    gap:5px
}

.header>p:nth-child(2), .header>p:nth-child(3){
    
    color: var(--Jet);
    font-size: 30px;
    text-align: center;
}

.header>p:nth-child(4){
    color: var(--Jet);
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}
.warningText{
    color: var(--Terra-Cotta);
}

.search{
    display: flex;
    gap: 10px;
    font-size: 20px;
    color: var(--Dim-Gray);
    align-items: center;
}

#searchBox{
    width: 80%;
    border-radius: 10px;
    height: 30px;
    background-color: #ECEBF3;
    padding: 5px;
    outline: none;
    border: none;
    
}

.dash{
    display: grid;
    grid-template: 400px 300px / 75% 25%;
    padding: 20px;
    gap: 2rem;
    margin-right: 20px;
    overflow: hidden;
}

.projects{
    grid-area: 1/1/span 2/ span 1;
    
}

.projectsSection{
    display: grid;
    grid-template: 250px 250px 250px / 50% 50%;
    gap: 2rem;
    margin-right: 2rem;
    grid-template-rows: repeat(3, minmax(150px, 250px));
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    overflow: hidden;

}

.button {
    border: none;
    color: white;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 50px;
    border-radius: 5px;
    margin:5px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    transition: text-shadow 0.3s ease;
    
  }
  
  .button:active {
    position: relative;
    top: 1px;
    border-bottom-width: 2px;
  }
  
  .button:hover {
    text-shadow: 2px 2px 0px rgba(0,0,0,.3)
  }
  
  .default {
    background-color: var(--Cadet-Blue);
    border-color:#447d81;
  }


.menu-btn{
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px 15px;
    background-color: var(--Cadet-Blue);
    transition: transform 500ms ease-in-out-back, background-position 800ms ease-in-out-back, box-shadow 500ms linear;
     background-size: contain;
    background-position: -200px center;
    background-repeat: no-repeat;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    text-align: center;
    border-radius: 3px;
    
   
}
.menu-btn:hover{
    
    background-position: -60px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.menu-btn:active{
    transform: scale(1);
    background-position: 500px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}
    
.card{
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
    padding-bottom: 10px;
    
}  

.overflow{
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.announcements{
    display: grid;
    
}

.announcement{
    border-bottom: 1px solid lightgray;
    padding: 10px;
    transition: 0.1s;
}

.announcement:hover{
    box-shadow: 0 3px 2px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.13);
}

.contacts{
    display: grid;

}

.mainAvatar {
    vertical-align: middle;
    width: 60px;
    height: 60px;
    border-radius: 50%;
   
  }

.avatar {
    vertical-align: middle;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: auto;
  }

.contact{
    display: grid;
    grid-template-columns: 25% 75%;
    padding-left: 15px;
}

.contact:hover{
    text-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.13);
}

.contact p{
    padding : 0;
    margin : 0;
}



.userCard{
    display: flex;
    text-align: left;
    justify-content: flex-start;
    gap: 10px;
    font-size: large;
    color: var(--Dim-Gray);
}


.project{
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.cardText{
    max-height: 60%;
    overflow: hidden;
}

.project > div:last-child{
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.project > div:last-child i{
    padding-right: 10px;
    font-size: 20px;
    color: var(--Dim-Gray);
}

.project > div:last-child i:hover{
    padding-right: 10px;
    font-size: 20px;
    color: var(--Cadet-Blue);
}

.project:hover{
    box-shadow: 0 3px 2px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.13);
}

.yellowCard{
    border-left: 10px solid var(--Pale-Spring-Bud);
}

.redCard{
    border-left: 10px solid var(--Cyclamen);
}

.greenCard{
    border-left: 10px solid var(--Opal);
}